@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: Arial, sans-serif;
    width: 200px;
    padding: 10px;
    background: rgb(188, 188, 188);
}
div{
    padding: 5px 15px 5px 15px;
    background-color: white;
    border: 1px gray;
    border-radius: 3px;
}

div div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espace entre les paragraphes */
}
div div span {
    text-align: center;
    width: 50px; /* Largeur fixe pour le texte */
    flex-shrink: 0; /* Empêche le texte de rétrécir */
}
div div input[type="color"] {
    margin-left: 10px; /* Espace entre le texte et l'input */
    flex: 1; /* L'input prend toute la place restante */
}

h1 {
    font-size: 16px;
    text-align: center;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    margin-top: 10px;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
